.intro span{
    font-family: "Source Serif Pro", monospace, sans-serif;
    font-size:  40px;
    font-weight: 400;
    margin-left: 14.75%;
}
.intro word{
    font-family: "Source Serif Pro", monospace, sans-serif;
    font-size:  22px;
    font-weight: 300;
}

/* Main Section for Blogs*/

.blog-post {
    width: 80%;
    margin: auto;
}

.blog-title {
    font-size: 24px;
    font-weight: bold;
}

.blog-date, .blog-reads {
    font-size: 14px;
    color: #888;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
}