body{
    transition: background-color 0.0s smooth;
    }

.intro word{
    font-family: "Source Serif Pro", monospace, sans-serif;
    font-size:  22px;
    font-weight: 300;
    margin-left: 6.6cm;
}

/* Main Section for Blogs*/
.blog-container{
    height: 4cm;
    width: 65%;
    /* background-color: blue; */
    border-radius: 0.2cm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
    margin-left: 18.6%;
    box-shadow: 0 0 0.5cm 0.05cm rgba(0, 0, 0, 0.1);
}
.blog-container:hover {
    box-shadow: inset 0 0 0.5cm 3cm rgba(114, 112, 112, 0.2);
}
.blog-title{
    font-family: "Source Serif Pro", monospace, sans-serif;
    font-size:  30px;
    font-weight: 600;
    margin-left: 3%;
    margin-top: 6.5%;
    /* background-color: blue; */
    width: 110%;
}
.blog-pic img{
    border-radius: 0.2cm;
    height: 3.5cm;
    width: 5cm;
    margin-top: 5.5%;
    margin-left: -5%;
}
.blog-intro{
    height: 25%;
    width: 60%;
    /* background-color: blue; */
    margin-left: -64.6%;
    margin-top: 2.2cm;
    font-size: 18px;
    justify-content: center;
    font-family: "Source Serif Pro", monospace, sans-serif;
}
.blog-dt{
    height: 25%;
    width: 60%;
    /* background-color: blue; */
    margin-left: -68.3%;
    margin-top: 3.2cm;
    font-size: 17px;
    font-family: "Source Serif Pro", monospace, sans-serif;
}
#blog-link {
    text-decoration: underline
}
#blog-link:hover{
    text-decoration: dashed underline;
}

#blog-link .blog-title {
    font-family: "Source Serif Pro", monospace, sans-serif;
    font-size:  30px;
    font-weight: 600;
    margin-left: 3%;
    margin-top: 6.5%;
    /* color: #28313d; Makes the text dark */
    width: 110%;
}
footer{
    margin-top: 15%;
}